body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;
    background: #121212;      
}

.info-container {
    display: flex;
    gap: 40px;
}
.horarios, .contacto {
    background: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

h1{
    border-bottom: 2px solid #16c4c4;
}

h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid #16c4c4;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
}