.body{
    background-color: red;
    text-align: center;
    color:white;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

portfolio-container{
    display: grid;
    grid-template-areas:
    "header"
    "footer"
    "logo"
    ;
    grid-template-rows: repeat(5,auto);
    min-height: 100vh;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 5px;
    background-color: rgb(4, 127, 235);
    box-shadow: 0 10px 30px black;
}
.header .logo{
    font-size: 15px;
    font-weight: bold;
}

header .nav a{
    color: aliceblue;
}


.footer{
    grid-area: footers;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: rgb(153, 105, 45);
    color: white;
}

@media screen and (max-width: 768px){
    .header{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
    }
    .nav{
        justify-self: center;
        grid-template-columns: repeat(2,auto);
        gap: 20px;
    }
    .footer{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
    }
}







