.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background: rgba(51, 65, 75, 0.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid ;
}

.logo {
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}

.nav {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    display: 0-block; 
    border: 2px solid #1276b9; 
    padding: 20px 40px;
    color: #333;
    border-radius: 8px; 
}

nav:hover {
    color: rgb(24, 12, 12); 
}

.logo img {
    width: 900px; 
    margin: 50px auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0 30px 30px rgba(51, 65, 75, 0.9);
    transition: transform 0.2s ease;
}

.logo img:hover {
    transform: scale(1.0);
    background-color: rgba(58, 69, 95, 0.9);
}

.footer{
    margin-top: 60px;
    background-color: rgba(51, 65, 75, 0.9);
    color: white;
}




.info-container {
    display: flex;
    gap: 40px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;
    background: #121212;  
}
.horarios, .contacto {
    background: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

h1{
    border-bottom: 2px solid #16c4c4;
}

h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid #16c4c4;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
}